@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

* {
    font-family: "Lexend";
}
/* Shared Style  */
body {
    margin: 0;
}
:root {
    --text-primary: #fd6e0a;
    --bg-secondary: #fff8f3;
    --dark-2: #474747;
}
.btn-primary {
    background-color: var(--text-primary);
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 36px;
    border-radius: 5px;
    border: none;
}

.section-title {
    font-size: 35px;
    font-weight: bold;
    color: var(--dark-2);
    text-align: center;
}
.section-description {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
}

/* Nav Styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
    margin-bottom: 50px;
}

.nav-title {
    font-weight: bolder;
    font-size: 45px;
}
.nav-title span {
    color: var(--text-primary);
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style-type: none;
    margin-right: 50px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    color: var(--dark-2);
}
/* header */
.header {
    background-image: url("../images/developer.png"),
        url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top 3rem left 2rem, bottom right;
    background-color: var(--bg-secondary);
}

/* banner styles */

.banner {
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    margin: 0 35px 0 230px;
}

.banner-content {
    max-width: 580px;
}
.banner-greeting {
    font-size: 45px;
    font-weight: 600;
    margin: 2rem 0;
}
.banner-title {
    font-size: 85px;
    margin: 0;
}
.banner-description {
    font-size: 18px;
    line-height: 30px;
    margin: 2rem 0;
}

.banner-profile-picture {
    width: auto;
    height: 676px;
}

/* main styles */
main,
.footer-container {
    max-width: 1140px;
    margin: 0 auto;
}
main section {
    margin-top: 130px;
}
/* ABout section */
.about {
    background-color: var(--bg-secondary);
    border-radius: 10px;
    text-align: center;
    padding: 130px 150px;
    margin-top: 130px;
}

.about-items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem 0;
}
.item-title {
    margin: 0;
    color: #757575;
}
.item-description {
    font-weight: bold;
    margin: 0.125rem;
}

/* what i do seciton  */

.skills {
    text-align: center;
}

.skills-container {
    display: flex;
    gap: 24px;
}

.skill-card {
    padding: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    /* filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.1)); */
    text-align: left;
    border-radius: 8px;
}
.skill-section-title {
    margin-top: 130px;
}
.skill-section-description {
    margin-bottom: 50px;
}

.skill-description {
    font-weight: 400;
    color: #757575;
    line-height: 30px;
}

/* Resume section */

.resume-container {
    display: flex;
    gap: 2rem;
}
.resume-column-title {
    font-size: 30px;
    font-weight: bold;
}
.resume-column hr {
    height: 0;
    margin: 30px 0;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}
.experience-title {
    font-size: 25px;
    font-weight: bold;
    margin: 0;
}
.experience-subtitle {
    font-size: 20px;
    color: #757575;
    margin-top: 10px;
    margin-bottom: 20px;
}
.experience-description {
    font-weight: 400;
    color: #757575;
    line-height: 30px;
}

/* download cv button */

.cv-download {
    display: block;
    margin: 50px auto;
}

/* Footer */

footer {
    background-color: var(--bg-secondary);
    padding: 130px 0;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
}
.footer-container {
    display: flex;
    gap: 120px;
}
.footer-section-title {
    font-size: 35px;
    font-weight: bold;
    margin:28px 0 ; 
}

.footer-column p {
    font-weight: 400;
    color: #757575;
    line-height: 30px;
}

.footer-column form input , footer textarea {
    padding: 24px 30px ; 
    font-size: 16px;
    color: #767676; 
    margin-bottom: 24px ;
    width: 461px;
    border:none; 
}

